<?xml version="1.0" encoding="utf-8"?>

<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
               SchemaVersion="1.0">
  <BuildConfiguration>
    <Property Name="NuGet.Pack.OutputDirectory" Value="D:\Develop\Packages" />
    <Property Name="NuGet.Push.Source"          Value="D:\Develop\Packages\Local" />
    <Property Name="NuGet.Push.ApiKey"          Value="YOUR_API_KEY" />
    <!-- readonly properties -->
    <!--           "PackagePath"                Value="<full path of nupkg-file from 'nuget pack' command>" -->
    <!--           "IncrementCI"                Value="<incremented CI number of existing package>" -->
    <!--           "IncrementPatch"             Value="<incremented patch number of existing package>" -->
  </BuildConfiguration>
  <BuildConfiguration Target="AfterBuild" Configuration="Debug">
    <Command>nuget pack $IDE.ProjectPath$ -OutputDirectory $OutputDirectory$ -version $IncrementCI$</Command>
  </BuildConfiguration>
  <BuildConfiguration Target="AfterBuild" Configuration="Release">
    <Command>nuget pack $IDE.ProjectPath$ -OutputDirectory $OutputDirectory$ -version $IncrementPatch$</Command>
    <Command>nuget push $PackagePath$ -apikey $ApiKey$</Command>
  </BuildConfiguration>
</Configuration>