<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" FileVersion="1.0">
  <BuildConfiguration Configuration="Debug">
    <Command>nuget pack $IDE.ProjectPath$ -OutputDirectory $OutputDirectory$ -version $IncrementCI$ -tool</Command>
  </BuildConfiguration>
  <BuildConfiguration Configuration="Release">
     <Command>nuget pack $IDE.ProjectPath$ -OutputDirectory $OutputDirectory$ -version $IncrementPatch$ -tool</Command>
  </BuildConfiguration>
</Configuration>