<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" SchemaVersion="1.0">
  <BuildConfiguration Target="BeforBuild">
    <Command>patchversion -increment build **\AssemblyInfo.* -AssemblyVersion -AssemblyFileVersion -AssemblyInformationalVersion</Command>
  </BuildConfiguration>
  <BuildConfiguration Target="AfterBuild" Configuration="Debug">
    <Command>nuget pack $IDE.ProjectPath$ -OutputDirectory $OutputDirectory$ -version $IncrementCI$ -tool</Command>
  </BuildConfiguration>
  <BuildConfiguration Target="AfterBuild" Configuration="Release">
     <Command>nuget pack $IDE.ProjectPath$ -OutputDirectory $OutputDirectory$ -version $IncrementPatch$ -tool</Command>
  </BuildConfiguration>
</Configuration>