<?xml version="1.0" encoding="utf-8"?>

<Configuration
  xmlns="http://ksware.de/KsWare.MSBuildTargets/Configuration.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xsi:schemaLocation="http://ksware.de/KsWare.MSBuildTargets/Configuration.xsd ..\Configuration\Configuration_v1.1.xsd"
  SchemaVersion="1.0">
  <BuildConfiguration>
    <Property Name="NuGet.Pack.OutputDirectory" Value="D:\Develop\Packages" />
    <Property Name="NuGet.Push.ApiKey"          Value="YOUR_NUGET_API_KEY" />
  </BuildConfiguration>
  <BuildConfiguration Configuration="Debug" Target="AfterBuild" >
    <Command>nuget pack $IDE.ProjectPath$ -OutputDirectory $OutputDirectory$ -suffix $IncrementCI$</Command>
  </BuildConfiguration>
  <BuildConfiguration Configuration="Release" Target="AfterBuild" Condition="%CI%!=True">
    <Command>nuget pack $IDE.ProjectPath$ -OutputDirectory $OutputDirectory$ -version $IncrementPatch$</Command>
    <Command>nuget push $PackagePath$ -apikey $ApiKey$</Command>
  </BuildConfiguration>

  <!-- 
  <BuildConfiguration 
    Configuration = The build configuration. One or more of e.g. "Debug;Release" or empty to match all.
    Platform      = The platforms. One or more of e.g. "Any CPU;x86;x64" or empty to match all.
    Target        = The build targets. One or more of "BeforeBuild;AfterBuild".
    Condition     = The conditions. One or more of "valueA operator valueB".
                    value: an environment variable e.g. "%CI%" or an string value e.g. "True"
                    operator: One of "eq" "ne" "==" "!=" 
                    %APPVEYOR% - True (true on Ubuntu image) if build runs in AppVeyor environment
                    %CI%       - True (true on Ubuntu image) if build runs in AppVeyor environment
  >
    <Property 
      Name        = Name of the property
      Value       = Value of the property
    />
    <Property Name               Value />
    "PackagePath"                full path of nupkg-file from 'nuget pack' command
    "IncrementCI"                incremented CI number of existing package
    "IncrementPatch"             incremented patch number of existing package
    
  </BuildConfiguration>
  -->
</Configuration>